main {
    position: relative;
    height: 100vh;

    color: #fff;

    background-image: linear-gradient(
            rgba(34, 34, 34, 0.3),
            rgba(34, 34, 34, 0.2)
        ),
        url('../../assets/images/hero1.jpg');
    background-size: cover;
}

.main_container {
    width: 400px;
    position: absolute;

    /* in relation to parent element size*/
    left: 50%;
    top: 50%;

    /* in relation to element size*/
    transform: translate(-50%, -50%);
}

.loading {
    display: flex;
    align-self: center;
    justify-self: center;

    color: grey;
}
